 {% extends 'webzone/base.html' %} {% load static %} {% block content %}
<style>
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
    /* body{
overflow-x: hidden;
font-family: Roboto, sans-serif;
} */
    
    .aboutmain h1 {
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }
    
    .aboutmain .video-container {
        width: 100vw;
        height: 100vh;
    }
    
    .aboutmain iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        height: 100vh;
        transform: translate(-50%, -50%);
    }
    
    .aboutmain #text {
        position: absolute;
        color: #FFFFFF;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    @media (min-aspect-ratio: 16/9) {
        .aboutmain .video-container iframe {
            height: 56.25vw;
        }
    }
    
    @media (max-aspect-ratio: 16/9) {
        .aboutmain .video-container iframe {
            width: 177.78vh;
        }
    }
    
    .aboutmain .read-article {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 999;
        color: #000;
        background: white;
        padding: 10px 20px;
        border-radius: 10px;
        font-family: arial;
        text-decoration: none;
        box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px;
    }
    
    .aboutmain .read-article:hover {
        background: #d5d5d5;
        box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
    }
    
    .aboutmain iframe[sandbox] .read-article {
        display: none;
    }
</style>


<section id="about-first" class="bg-light">
    <p class="text-center fs-1 text-info" data-aos="fade-up">Our Captains <span class="text-center fs-5 text-dark">Meet our soldiers</span> </p>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="aboutmain carousel-inner">
                <div class="carousel-item active">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/uHu3ECMLpyI?controls=0&autoplay=1&mute=1"></iframe>
                    </div>

                    <div id="text">
                        <h1>Use a youtube video as a full screen background with CSS</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/uHu3ECMLpyI?controls=0&autoplay=1&mute=1"></iframe>
                    </div>

                    <div id="text">
                        <h1>Use a youtube video as a full screen background with CSS</h1>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/uHu3ECMLpyI?controls=0&autoplay=1&mute=1"></iframe>
                    </div>

                    <div id="text">
                        <h1>Use a youtube video as a full screen background with CSS</h1>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<section id="about-secand" class="bg-light">
    <div class="container mt-5">
        <p class="text-center fs-1 text-info" data-aos="fade-up">Our Captains <span class="text-center fs-5 text-dark">Meet our soldiers</span> </p>
        <div class="row .bg-info" data-aos="fade-up">
            <div class="aboutcard col-sm-8 bg-muted" data-aos="fade-up">
                <h1 class="text-black">The Marketplace for Private Equity.</h1>
                <p class="font-weight-light">Are you a digital agency services or software product company looking for a partner in the highly technical and evolving web development space? ColorWhistle will be perfect for you.
                </p>
                <p class="font-weight-light">Over the years, we have developed a strategic partnership with many digital agencies in USA, UK and delivered the highest quality of web design, application development, and digital marketing technology services. By creating a B2B partnership
                    with industry leaders, we have strengthened our ability to offer best-in-class web technology services and solutions.</p>
                <br>
                <button class="btn btn-primary btn-lg d-flex justify-content-between mx-auto">Get Started</button>
            </div>
            <div class="col-sm-4" data-aos="zoom-out" data-aos-delay="200">
                <img src="{% static 'image/vk1.png' %}" class="rounded-circle mb-6 mx-auto" style="width: 400px; height: 400px;" height="300" width="300" alt="" loading="lazy" />
                <p></p>
            </div>
        </div>
</section>
<section id="about-first" class="bg-light">
    <p class="text-center fs-1 text-info" data-aos="fade-up">TEAM <span class="text-center fs-5 text-dark">Meet our soldiers</span> </p>
    <h3 class="text-center text-primary">Our hard working team</h3>
    <div class="aboutcard card-group">
        <div class="card">
            <img src="{% static 'image/pic/35.png' %}" class="rounded-circle mb-6 mx-auto" style="width: 400px; height: 400px;" height="300" width="300" alt="" loading="lazy" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/pic/about.jpg' %}" class="rounded-circle mb-6 mx-auto" style="width: 400px; height: 400px;" height="300" width="300" alt="" loading="lazy" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/pic/33.png' %}" class="rounded-circle mb-6 mx-auto" style="width: 400px; height: 400px;" height="300" width="300" alt="" loading="lazy" />
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</section>
<br> {% endblock content %}