{% extends 'webzone/base.html' %} {% load static %} {% block content %}
<div id="blogheader" class="footer-copyright text-center py-5 opacity-50" style="background-color:rgb(227, 233, 236)">
    <div class="container">
        <h2 class="text-center text-dark" data-aos="fade-up">Web Development Service <span class="text-center fs-5 text-dark">Meet our soldiers</span> </h2>

        <div class="row .bg-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto odio neque suscipit quisquam provident voluptate, ratione magnam atque fugiat nemo doloremque. Ipsam reiciendis optio nihil quam maxime, dignissimos inventore culpa ullam minus
                odio voluptatem tenetur aspernatur natus voluptate suscipit similique cumque repudiandae pariatur iure deserunt sint corrupti commodi? Quibusdam illo magni minima maiores nulla impedit quod accusamus ratione assumenda dolor?</p>
                
        </div>
    </div>
</div>
<section id="blog-main" class="bg-light">
    <div class="card-group">
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</section>
<section id="blog-main" class="bg-light">
    <div class="card-group">
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'image/service/business_img.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}