{% extends 'webzone/base.html' %} {% load static %} {% block content %}
<style>
    #dashboardheader {
        background-image: url("{% static 'image/service/test.png' %}");
        opacity: 50;
    }
</style>
<div id="dashboardheader" class="footer-copyright text-center py-5 opacity-50" style="background-color:rgb(227, 233, 236)">
    <div class="container">
        <h2 class="text-center text-dark" data-aos="fade-up">Web Development Service <span class="text-center fs-5 text-dark">Meet our soldiers</span> </h2>

        <div class="row .bg-info">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto odio neque suscipit quisquam provident voluptate, ratione magnam atque fugiat nemo doloremque. Ipsam reiciendis optio nihil quam maxime, dignissimos inventore culpa ullam minus
                odio voluptatem tenetur aspernatur natus voluptate suscipit similique cumque repudiandae pariatur iure deserunt sint corrupti commodi? Quibusdam illo magni minima maiores nulla impedit quod accusamus ratione assumenda dolor?</p>

        </div>
    </div>
</div>
<section id="abdashboard-first" class="bg-light">
    <p class="text-center fs-1 text-info" data-aos="fade-up">Our Captains <span class="text-center fs-5 text-dark">Meet our soldiers</span> </p>
    <div class="aboutcard card-group">
        <div class="card border-0 mb-lg-0 mb-4">
            <div class="backgroundEffect"></div>
            <div class="pic"><img class="" src="https://images.pexels.com/photos/4491881/pexels-photo-4491881.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="date"><span class="day">01</span><span class="month">June</span><span class="year">2019</span></div>
            </div>
            <div class="content">
                <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
                <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                    <div class="btn btn-primary">Read More<span class="fas fa-arrow-right"></span></div>
                    <div class="d-flex align-items-center justify-content-center foot">
                        <p class="admin">Admin</p>
                        <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
                    </div>

                </div>
                <div class="text-center">
                    <a href="https://github.com/gurugitcode/WEB-MUSIC-PLAYER">Source code</a>
                </div>

            </div>
        </div>
        <div class="card border-0 me-lg-4 mb-lg-0 mb-4">
            <div class="backgroundEffect"></div>
            <div class="pic"><img class="" src="https://images.pexels.com/photos/374016/pexels-photo-374016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="date"><span class="day">02</span><span class="month">June</span><span class="year">2019</span></div>
            </div>
            <div class="content">
                <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
                <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                    <div class="btn btn-primary">Read More<span class="fas fa-arrow-right"></span></div>
                    <div class="d-flex align-items-center justify-content-center foot">
                        <p class="admin">Admin</p>
                        <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="https://github.com/gurugitcode/WEB-MUSIC-PLAYER">Source code</a>
            </div>
        </div>
        <div class="card border-0 me-lg-4 mb-lg-0 mb-4">
            <div class="backgroundEffect"></div>
            <div class="pic"><img class="" src="https://images.pexels.com/photos/374016/pexels-photo-374016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="date"><span class="day">26</span><span class="month">June</span><span class="year">2019</span></div>
            </div>
            <div class="content">
                <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
                <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                    <div class="btn btn-primary">Read More<span class="fas fa-arrow-right"></span></div>
                    <div class="d-flex align-items-center justify-content-center foot">
                        <p class="admin">Admin</p>
                        <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="https://github.com/gurugitcode/WEB-MUSIC-PLAYER">Source code</a>
            </div>
        </div>
    </div>
    <div class="aboutcard card-group">
        <div class="card border-0 mb-lg-0 mb-4">
            <div class="backgroundEffect"></div>
            <div class="pic"><img class="" src="https://images.pexels.com/photos/4491881/pexels-photo-4491881.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="date"><span class="day">26</span><span class="month">June</span><span class="year">2019</span></div>
            </div>
            <div class="content">
                <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
                <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                    <div class="btn btn-primary">Read More<span class="fas fa-arrow-right"></span></div>
                    <div class="d-flex align-items-center justify-content-center foot">
                        <p class="admin">Admin</p>
                        <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="https://github.com/gurugitcode/WEB-MUSIC-PLAYER">Source code</a>
            </div>
        </div>
        <div class="card border-0 me-lg-4 mb-lg-0 mb-4">
            <div class="backgroundEffect"></div>
            <div class="pic"><img class="" src="https://images.pexels.com/photos/374016/pexels-photo-374016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="date"><span class="day">26</span><span class="month">June</span><span class="year">2019</span></div>
            </div>
            <div class="content">
                <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
                <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                    <div class="btn btn-primary">Read More<span class="fas fa-arrow-right"></span></div>
                    <div class="d-flex align-items-center justify-content-center foot">
                        <p class="admin">Admin</p>
                        <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="https://github.com/gurugitcode/WEB-MUSIC-PLAYER">Source code</a>
            </div>
        </div>
        <div class="card border-0 me-lg-4 mb-lg-0 mb-4">
            <div class="backgroundEffect"></div>
            <div class="pic"><img class="" src="https://images.pexels.com/photos/374016/pexels-photo-374016.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                <div class="date"><span class="day">26</span><span class="month">June</span><span class="year">2019</span></div>
            </div>
            <div class="content">
                <p class="h-1 mt-4">Finance And Legal Working Streams Occur Throughout</p>
                <p class="text-muted mt-3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
                    <div class="btn btn-primary">Read More<span class="fas fa-arrow-right"></span></div>
                    <div class="d-flex align-items-center justify-content-center foot">
                        <p class="admin">Admin</p>
                        <p class="ps-3 icon text-muted"><span class="fas fa-comment-alt pe-1"></span>3</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="https://github.com/gurugitcode/WEB-MUSIC-PLAYER">Source code</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}